<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>All Users</title>
</head>
<body>
    <div class="d-flex justify-content-around flex-wrap p-5">
        <h1>{{all_ninjas.name}}</h1>
        <table class = "table table-striped table-bordered">
            <thead class="bg-secondary p-2 bg-opacity-50">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>

                </tr>
            </thead>
            <tbody>
                {% for ninja in all_ninjas.ninjas %}
                <tr>
                    <td>{{ninja.first_name}}</td>
                    <td>{{ninja.last_name}} </td>
                    <td>{{ninja.age}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/dojos">Home</a>
    </div>
</body>