<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>create show</title>
</head>
<body>
    <div class="d-flex justify-content-evenly">
        <h1 class="text-center">Add a New show!</h1>
        <a href="/shows" class="btn btn-info">TV shows</a>
        <a href="/logout" class="btn btn-info">Logout</a>
    </div>
    {% with messages = get_flashed_messages(category_filter=['create']) %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/show/create" method="POST" class="d-flex justify-content-evenly">
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" name="title" class="form-control" value="{{session['title']}}">
            <br>
            <label for="network">Network: </label>
            <input type="text" name="network" class="form-control" value="{{session['network']}}">
            <br>
            <label for="release_date">Release Date: </label>
            <input type="date" name="release_date" class="form-control">
            <br>
            <label for="description">Description: </label>
            <textarea name="description" cols="30" rows="5" class="form-control">{{session['description']}}</textarea>
            <br>
            <input type="submit" value="publish" class="btn btn-success">
        </div>
    </form>
</body>