<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>All Authors</title>
</head>
<body>
    <div class="d-flex justify-content-evenly">
        <div class="col-4 text-center my-5 p-4">
            <h1>{{author.name}}'s favorates</h1>
            <table class = "table table-striped table-bordered">
                <thead class="bg-secondary p-2 bg-opacity-50">
                    <tr>
                        <th>Title</th>
                        <th># of pages</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in author.books %}
                        <tr>
                            <td>{{book.title}}</td>
                            <td>{{book.num_of_pages}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/authors">Home</a>
        </div>
        <div id="authors" class="col-3 border border-dark text-center">
            <h1>Add Author's Favorite</h1>
            <form action="/author/favorite/{{author['id']}}" method="POST" class="col-6 mx-auto">
                <input type="hidden" name="author_id" value={{author.id}}>
                <label for="books">Books: </label>
                <select name="book_id">
                    {% for book in new_books %}
                        <option value="{{book.id}}">{{book.title}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add" class="btn btn-primary btn-outline-dark">
            </form>
        </div>
    </div>
</body>