<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>All Users</title>
</head>
<body>
    <div class="d-flex justify-content-evenly">
        <h1 class="text-center">Add a New Recipe!</h1>
        <a href="/recipes" class="btn btn-info">back to recipes</a>
        <a href="/logout" class="btn btn-info">Logout</a>
    </div>
    {% with messages = get_flashed_messages(category_filter=['create']) %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/recipe/create" method="POST" class="d-flex justify-content-evenly">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" value="{{session['name']}}">
            <label for="description">Description: </label>
            <textarea name="description" cols="30" rows="5" class="form-control">{{session['description']}}</textarea>
            <label for="instructions">Instructions: </label>
            <textarea name="instructions" cols="30" rows="5"class="form-control">{{session['instructions']}}</textarea>
        </div>
        <div class="form-group">
            <label for="date_made">Date Cooked/Made:</label>
            <input type="date" name="date_made" class="form-control">
            <br>
            <p>30 Minutes or less to make?</p>
            <input type="radio" name="cook_time" value="Yes">
            <label for="cook_time">Yes</label>
            <input type="radio" name="cook_time" value="No">
            <label for="cook_time">No</label>
            <br>
            <input type="submit" value="publish" class="btn btn-success">
        </div>
    </form>
</body>