<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <style>
        .container{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
        }
        .colorbox{
            width: 150px;
            height: 150px;
            border: 2px solid black;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1 class="container">Welcome!</h1>
    <div class="container">
        {% for i in range(0,num) %}
        <div class="colorbox" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>